{{!-- 如果螢幕變成手機太小是否會擠再一起要考慮進去 --}}
<div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createData">
    新增花費
  </button>
</div>
<div class="d-flex">
  <p>總金額:</p>
  <h1>{{totalAmount}}</h1>
</div>
<div class="list-group">
  {{#each records}}
  <div class="d-flex">
    <a href="/records/{{this._id}}" class="list-group-item list-group-item-action d-flex">
      <div class="">
        <i class="{{this.icon}}"></i>
      </div>
      <div class="d-flex flex-column">
        <div>{{this.name}}</div>
        <div>{{this.date}}</div>
      </div>
      <div>{{this.amount}}</div>
    </a>
    <div class="ms-2">
      <a href="/records/{{this._id}}" type="button" class="btn btn-primary">修改</a>
    </div>
    <div class="ms-2">
      <a href="" type="button" class="btn btn-primary">刪除</a>
    </div>
  </div>
  {{/each}}

</div>


<!-- Modal -->
<div class="modal fade" id="createData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <form action="/records" method="POST" class="row g-3 needs-validation" novalidate>
        <div class="col-12">
          <label for="name" class="form-label">名稱</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="花費名稱" required>
          <div class="valid-feedback">
            ok！
          </div>
          <div class="invalid-feedback">
            請為這必花費取個名子！
          </div>
        </div>
        <div class="col-12">
          <label for="date" class="form-label">日期</label>
          <input type="date" class="form-control" id="date" name="date" required>
          <div class="valid-feedback">
            ok!
          </div>
          <div class="invalid-feedback">
            請選擇花費的日期！
          </div>
        </div>
        <div class="col-12">
          <label for="category" class="form-label">類別</label>
          <select class="form-select" id="category" name="category" required>
            <option selected disabled value="">Choose...</option>
            <option value="家居物業">家居物業</option>
            <option value="交通出行">交通出行</option>
            <option value="休閒娛樂">休閒娛樂</option>
            <option value="餐飲食品">餐飲食品</option>
            <option value="其他">其他</option>
          </select>
          <div class="valid-feedback">
            ok!
          </div>
          <div class="invalid-feedback">
            請選擇一個類別！
          </div>
        </div>
        <div class="col-12">
          <label for="amount" class="form-label">金額</label>
          <input type="number" class="form-control" id="amount" placeholder="輸入金額" name="amount" required>
          <div class="valid-feedback">
            ok！
          </div>
          <div class="invalid-feedback">
            請輸入金額！
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">新增花費</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>