<form action="/filter" method="POST" class="my-2 row g-2">
<div class="col-12 col-md-6">
  <label for="category" class="form-label fs-4">篩選類別</label>
  <select class="form-select w-50 mx-auto" id="category" name="categoryId">
    <option value="">Choose all...</option>
    {{#each categories}}
    <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
    {{/each}}
  </select>
</div>
<div class="col-12 col-md-6">
  <label for="month" class="form-label fs-4">篩選日期</label>
  <input class="form-select w-50 mx-auto" type="month" id="month" name="yearMonth" value="{{yearMonth}}">
</div>
<div class="text-end col-12">
  <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i>Search</button>
  <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#chartModal">
    <i class="fas fa-chart-pie" title="觀看圓餅圖"></i>
  </button>
  <a href="/" class="btn btn-outline-secondary"><i class="fas fa-eraser" title="清除篩選"></i></a>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-dark font-bold" data-bs-toggle="modal" data-bs-target="#createData">
    新增花費
  </button>
</div>
</form>


<div class="d-flex justify-content-center">
  <div class="position-father">
    <p class="d-inline-block align-top me-5 fs-4 fw-bold">總金額:</p>
    <h1 class="d-inline-block jump-box p-2">{{totalAmount}}</h1>
  </div>
</div>
<div class="list-group mt-5">
  {{#each records}}
  <div class="row d-flex w-50 mx-auto mb-2">
    <div class="col-md-10 my-auto">
      <a href="/records/{{this._id}}" class="row d-flex list-group-item list-group-item-action rounded me-2">
        <div class="col-12 col-md-4 my-auto">
          <i class="{{this.icon}} fs-4" title="{{this.category}}"></i>
          <div><small>{{this.merchant}}</small></div>
        </div>
        <div class="d-flex flex-column col-12 col-md-4">
          <div class="fs-5">{{this.name}}</div>
          <div><small>{{this.date}}</small></div>
        </div>
        <div class="my-auto fs-4 col-12 col-md-4">{{this.amount}}元</div>
      </a>
    </div>


    <div class="col-md-2 d-flex justify-content-evenly mt-2 pe-4">
      <a href="/records/{{this._id}}" type="button" class="btn btn-outline-dark d-block my-auto me-2 ms-2"><i class="fas fa-pencil-alt"></i></a>
      <form action="/records/{{this._id}}?_method=DELETE" method="POST" class="d-block my-auto me-2">
        <button class="btn btn-outline-danger border-dark" type='submit'
          onclick="return(confirm('確認要刪除嗎？'))"><i class="fas fa-trash-alt"></i></button>
      </form>
    </div>

  </div>
  {{/each}}

</div>


<!-- add expense Modal -->
<div class="modal fade" id="createData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <form action="/records" method="POST" class="row g-3 needs-validation text-start" novalidate>
        <div class="col-12">
          <label for="name" class="form-label">名稱：</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="花費名稱" maxlength="10"
            onkeyup="this.value=this.value.replace(/\s+/g,'')" required autofocus>
          <div class="valid-feedback">
            ok！
          </div>
          <div class="invalid-feedback">
            請為這必花費取個名子！
          </div>
        </div>
        <div class="col-12">
          <label for="date" class="form-label">日期：</label>
          <input type="date" class="form-control" id="date" name="date" required>
          <div class="valid-feedback">
            ok!
          </div>
          <div class="invalid-feedback">
            請選擇花費的日期！
          </div>
        </div>
        <div class="col-12">
          <label for="category" class="form-label">類別：</label>
          <select class="form-select" id="category" name="category" required>
            <option selected disabled value="">Choose...</option>
            {{#each categories}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
          </select>
          <div class="valid-feedback">
            ok!
          </div>
          <div class="invalid-feedback">
            請選擇一個類別！
          </div>
        </div>
        <div class="col-12">
          <label for="merchant" class="form-label">店家：</label>
          <input type="text" maxlength="10" class="form-control" id="merchant" placeholder="輸入店家" name="merchant">
        </div>
        <div class="col-12">
          <label for="amount" class="form-label">金額：</label>
          <input type="number" class="form-control" id="amount" placeholder="輸入金額" min="0" max="100000000" name="amount" required>
          <div class="valid-feedback">
            ok！
          </div>
          <div class="invalid-feedback">
            請輸入金額 or 金額過大且不可為負！
          </div>
        </div>
        <div class="col-12 d-flex justify-content-between">
          <button class="btn btn-outline-dark" type="submit">新增花費</button>
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">返回</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Chart Modal -->
<div class="modal fade" id="chartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pie Chart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <canvas id="myChart"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  
  (function () {
    'use strict'
    const forms = document.querySelectorAll('.needs-validation')

    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
  const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: [
          "{{ categoryAmount.[0]._id}}",
          "{{ categoryAmount.[1]._id}}",
          "{{ categoryAmount.[2]._id}}",
          "{{ categoryAmount.[3]._id}}",
          "{{ categoryAmount.[4]._id}}"
        ],
        datasets: [{
          label: '# of Votes',
          data: [
          {{ categoryAmount.[0].total }},
          {{ categoryAmount.[1].total }},
          {{ categoryAmount.[2].total }},
          {{ categoryAmount.[3].total }},
          {{ categoryAmount.[4].total }}
          ],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      }
    })

     
</script>